{% extends 'base.html.twig' %}

{% block title %}Mes Articles{% endblock %}

{% block body %}

    <style>
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 90rem;
            margin-inline: auto;
        }

        .card-title {
            text-align: center;
        }

        .card-text {
            text-align: center;
        }

        .list-group {
            text-align: center;
        }

        .card > div:nth-child(6) {
            padding-block-start: 2rem;
        }
        
        .btn-list{
            display: flex;
        }

    </style>
    <br>
    <div class="card">
        <h1 class="card-title">{{ article.titre }}</h1>
        <br>
        <img style="max-width: 28rem;" src="{{ article.picture|e }}" class="card-img-top" alt="{{ article.picture|e }}">
        <div class="card-body">
            <h2 class="card-title">{{ article.sousTitre }}</h2>
            <br>
            <p class="card-text">{{ article.content }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ article.conclusion }}</li>
            <li class="list-group-item">{{ article.date|date('m-d-Y') }}</li>
        </ul>
        <div class="btn-list">
            <a href="{{ path('articles') }}" class="btn btn-primary">Retour</a>

            {% if is_granted('ROLE_AUTEUR') %}
            <a href="{{ path('update', {'id': article.id}) }}" class="btn btn-primary">Modifier</a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                {{ include('partials/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <br>
    </div>


{% endblock %}
